@use "/src/styles/partials/_mixins.scss" as *;
@use '/src/styles/partials/variables' as *;

.cta-button {
  @include reset-button;
  @include flex-container($justify: center, $align: center);
  height: 2.5rem;
  min-width: 9.375rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 0.5rem 50%;
  background-color: $primary-color-blue;
  font-size: $mobile-fs-labels-btns;
  line-height: $mobile-lh-labels-btns;
  font-weight: $mobile-fw-labels-btns;
  letter-spacing: $mobile-ls-labels-btns;
  color: $primary-color-white;
  border-radius: 4px;

  @include tablet {
    padding: 0 2rem;
    width: 9.75rem;
  }

  &--UPLOAD {
    background-image: url('/src/assets/images/icons/upload.svg');
  }

  &--COMMENT {
    background-image: url('/src/assets/images/icons/add_comment.svg');
  }

  &:hover {
    background-color: $secondary-color-blue;
  }
}
