@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comments-form {
    @include flex-container;
    gap: $padding-sm;
    padding-bottom: $padding-sm;
    font-size: $mobile-fs-labels-btns;
    font-weight: $fw-demi;
    letter-spacing: $mobile-ls-labels-btns;
    color: $primary-color-gray;

    @include tablet {
        align-items: flex-end;
        padding-bottom: $padding-md;
        font-size: $fs-labels-btns;
        line-height: $mobile-lh-labels-btns;
    }

    @include desktop {
        margin-right: $padding-md;
    }

    &__avatar {
        margin-top: $padding-md;
        background-image: url("/src/assets/images/Mohan-muruge.jpg");
        @include avatar;
    }

    &__inputs {
        @include flex-container(column);
        width: 100%;

        @include tablet {
            flex-direction: row;
            align-items: flex-end;
        }
    }

    &__inputs-container {
        @include flex-container(column);
        width: 100%;
        @include tablet {
            padding-right: $padding-md;
        }
    }

    &__label {
        padding-bottom: 0.25rem;
    }

    &__input {
        height: 5.875rem;
        margin: 0.25rem 0 $padding-sm 0;
        padding: $padding-xs;
        resize: none;
        font-family: inherit;
        font-size: $mobile-fs-body;
        line-height: $mobile-lh-body;
        font-weight: $fw-regular;
        color: $primary-color-black;
        background-color: $secondary-color-white;
        border: $form-field-border;
        border-radius: $form-radius;
        overflow: hidden;

        @include tablet {
            @include flex-container($align: baseline);
            padding: $padding-xs;
            margin: 0;
            height: 2.5rem;
            width: 100%;
            font-size: $fs-body;
            line-height: $lh-body;
        }

        &::placeholder {
            color: $primary-color-black;
        }

        &--error {
            border-color: $error-color;
        }
    }

    &__button {
        @include reset-button;
        background-image: url("/src/assets/images/icons/add_comment.svg");
        @include cta-button;
    }
}
