@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comment {
    @include flex-container;
    gap: $padding-sm;
    padding: $padding-xs 0;
    @include divider-top;

    @include tablet {
        padding: $padding-md 0;
    }

    @include desktop {
        padding-right: $padding-md;
    }

    &__wrapper {
        @include flex-container(column, space-between, center);
    }

    &__avatar {
        @include avatar;
    }

    &__delete-button {
        @include reset-button;
        min-width: 1.5rem;
        min-height: 1.5rem;
        padding: 1rem;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        background-image: url("../../assets/images/icons//icon-delete.svg");

        &:hover {
            background-color: $secondary-color-gray;
        }
    }

    &__details {
        width: 100%;
    }

    &__head {
        @include flex-container($justify: space-between);
        padding-bottom: $padding-xs;
    }

    &__name {
        font-weight: $fw-demi;
    }

    &__timestamp {
        color: $primary-color-gray;
        font-size: $mobile-fs-body;
        line-height: $mobile-lh-body;
        font-weight: $fw-regular;

        @include tablet {
            font-size: $fs-body;
            line-height: $lh-body;
        }
    }

    &__text {
        font-size: $mobile-fs-body;
        line-height: $mobile-lh-body;
        font-weight: $fw-regular;

        @include tablet {
            font-size: $fs-body;
            line-height: $lh-body;
        }
    }
}
