@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comment {
    @include flex-container;
    gap: $padding-sm;
    padding: $padding-xs 0;
    @include divider-top;

    @include tablet {
        padding: $padding-md 0;
    }

    @include desktop {
        padding-right: $padding-md;
    }

    &__details {
        width: 100%;
    }

    &__head {
        @include flex-container($justify: space-between);
        padding-bottom: $padding-xs;
    }

    &__name {
        font-weight: $fw-demi;
    }

    &__text {
        font-size: $mobile-fs-body;
        line-height: $mobile-lh-body;
        font-weight: $fw-regular;

        @include tablet {
            font-size: $fs-body;
            line-height: $lh-body;
        }
    }
}
