@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.next-videos {
    padding: $padding-sm;

    @include tablet {
        flex-direction: row;
        padding: $padding-sm $padding-lg;
    }

    @include desktop {
        margin: 0 auto;
        padding: $padding-sm 0;
        width: 63.0625rem;
    }

    &__header {
        margin-bottom: $padding-sm;
        font-size: $mobile-fs-section-header;
        line-height: $mobile-lh-section-header;
        font-weight: $fw-demi;
        letter-spacing: $mobile-ls-section-header;
        color: $primary-color-gray;

        @include tablet {
            font-size: $fs-section-header;
            line-height: $lh-section-header;
        }
    }

    &__list {
        padding: 0;
        list-style-type: none;
    }
}
