@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/variables" as *;

.header {
    @include flex-container(column, center, center);
    margin: $padding-sm;

    @include tablet {
        flex-direction: row;
        margin: $padding-sm $padding-lg;
    }

    @include desktop {
        margin: $padding-sm auto;
        width: 63.0625rem;
    }

    &__link {
        width: 7.5rem;
        margin: 0 auto;

        @include tablet {
            margin: 0;
            margin-right: auto;
        }
    }

    &__logo {
        width: 7.5rem;
        height: 1.563rem;
        background-image: url("/src/assets/images/logo/BrainFlix-logo.svg");
        background-repeat: no-repeat;

        @include tablet {
            width: 100%;
        }
    }

    &__wrapper {
        @include flex-container(row, center, center);
        margin: $padding-sm 0;
        width: 100%;

        @include tablet {
            display: block;
            width: auto;
            margin: 0;
        }
    }

    &__avatar {
        background-image: url("/src/assets/images/Mohan-muruge.jpg");
        @include avatar;

        &--hide {
            @include tablet {
                display: none;
            }
        }

        &--right {
            display: none;
            margin-left: $padding-sm;

            @include tablet {
                display: block;
            }

            @include desktop {
                padding-left: $padding-lg;
            }
        }
    }

    &__search {
        margin-right: $padding-sm;
        padding-left: $padding-lg;
        min-height: $padding-lg;
        width: 100%;
        font-family: inherit;
        font-size: $mobile-fs-labels-btns;
        line-height: $mobile-lh-labels-btns;
        font-weight: $fw-regular;
        background-image: url("/src/assets/images/icons/search.svg");
        background-position: $padding-xs 50%;
        background-repeat: no-repeat;
        border-radius: 4px;
        border: 1px solid $secondary-color-gray;

        @include tablet {
            margin-right: $padding-md;
            height: 2.5rem;
            width: 15rem;
            font-size: $fs-labels-btns;
            line-height: $lh-labels-btns;
        }

        &--active {
            border: 2px solid $primary-color-blue;
        }

        &--error {
            border: 1px solid $error-color;
        }

        &::placeholder {
            color: $primary-color-black;
        }
    }

    &__button {
        background-image: url("/src/assets/images/icons/upload.svg");
        text-decoration: none;
        @include cta-button;
    }
}
