@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comments {
    list-style-type: none;
    @include divider-bottom;

    @include desktop {
        border: none;
    }

    &__header {
        padding-bottom: $padding-sm;
        font-size: $mobile-fs-subheader;
        line-height: $mobile-lh-subheader;
        font-weight: $fw-demi;

        @include tablet {
            font-size: $fs-subheader;
            line-height: $lh-subheader;
        }
    }

    &__feed {
        padding: 0;
        list-style-type: none;
    }
}
