@use "./styles/partials/typography";
@use "./styles/partials/mixins" as *;

html {
    font-size: 100%;
    font-family: "Avenir Next LT Pro", Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

.main {
    &__wrapper {
        @include desktop {
            @include flex-container;
            margin: 0 auto;
            width: 63.0625rem;
        }
    }
}
